### Creating spark sessions.

Spark session is entry point for spark. This contains all configuration. Think like a main method of class.

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

## File reading

* Spark can read wide verity of files.  Json, CSV, Text files, Parquet and Avro.
- Spark has three abstractions. Dataset, Dataframe, RDD.
- Rdd - (Resilient Distributed Data) - very initial abstraction of the data. Every operation has to be programmed.
- DataFrame - Very efficident data abstraction. Think like RDD + Structure. Any data that has structure, JSON, CSV,XML and Parquet files can be read very easily.
- DataSet - Dataset is exactly like DataFrame except that it does not need schema. An improved version of RDD that can also has DataFrame's optimizations

### Parquet file format (just for reference)

- Parquet (read like parque) is a file format like csv or json or xml. This compresses the data and data will be binary formation (you cannot open and read it unlike csv.)

## So what is difference between normal file read and spark

Spark processes the data in parallel. When you read the data, based on the size it can break the data and process it in parallel. To process in parallel you need to allocate capacity (cores)

### Data Frame:
* DataFrames are the most used abstractions. When i say abstraction, it is a wrapper around the data in memory.

- With the dataframe, you can do all processing with lot of pre-built methods that spark comes by default.  

- You can also process the data in the form of queries

## What kind of data processing is done in spark.?

Spark has two types of operations
1. Transformations
2. Actions.

**Transformations:** any structural changes of the data. example, adding new columns, updating any data, dropping any columns

**Actions:** Outcomes of processing. Eg: Saving file, getting count of records, getting all elements.

### What kind of work Spark can do.

* Spark can do something called batch operations and streming/real-time operations.

- Batch workload: Its like processing data at once. For eg: running to process all files in a folder

Real-time workload: This is called streaming processing. The data comes continously and spark processes them continously. Think like water stream and a fish net. data comes continously and spark job processes on the fly

### File reading example. CSV File is used.

## Either use 

wget https://raw.githubusercontent.com/srini-daruna/temp-repo/master/spark-demo/city_attributes.csv .
or
download the file directly from the link

In [2]:
df1 = spark.read.option(
    "header","true").csv(
    "./spark-demo/city_attributes.csv")

### Basic operations.

Some basic operations to play with are, 

* printSchema : Shows the structure of the data
- count : gives total record count
- show: like display in pandas. Shows 20 records sample. The records to show can be adjusted. default value is 20
- collect: get all records in a list

In [3]:
df1.show()

+-------------+-------------+---------+-----------+
|         City|      Country| Latitude|  Longitude|
+-------------+-------------+---------+-----------+
|    Vancouver|       Canada| 49.24966|-123.119339|
|     Portland|United States|45.523449|-122.676208|
|San Francisco|United States|37.774929|-122.419418|
|      Seattle|United States|47.606209|-122.332069|
|  Los Angeles|United States|34.052231|-118.243683|
|    San Diego|United States|32.715328|-117.157257|
|    Las Vegas|United States|36.174969|-115.137222|
|      Phoenix|United States| 33.44838|-112.074043|
|  Albuquerque|United States|35.084492|-106.651138|
|       Denver|United States|39.739151|-104.984703|
|  San Antonio|United States| 29.42412| -98.493629|
|       Dallas|United States|32.783058| -96.806671|
|      Houston|United States|29.763281| -95.363274|
|  Kansas City|United States|39.099731| -94.578568|
|  Minneapolis|United States|44.979969|  -93.26384|
|  Saint Louis|United States| 38.62727| -90.197891|
|      Chicago|United States|41.850029| -87.650047|
|    Nashville|United States| 36.16589| -86.784439|
| Indianapolis|United States|39.768379| -86.158043|
|      Atlanta|United States|33.749001| -84.387978|
+-------------+-------------+---------+-----------+
only showing top 20 rows

In [4]:
df1.count()

36

In [5]:
df1.printSchema()

root
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

### You can filter the data like below

In [12]:
df1.filter("City = 'Indianapolis'").show()

+------------+-------------+---------+----------+
|        City|      Country| Latitude| Longitude|
+------------+-------------+---------+----------+
|Indianapolis|United States|39.768379|-86.158043|
+------------+-------------+---------+----------+

In [14]:
## You can new column like this
# you need to use lit to add a constant. lit means literal
from pyspark.sql.functions import lit
df2 = df1.withColumn("new_column",lit("this is sample"))
df2.show()

+-------------+-------------+---------+-----------+--------------+
|         City|      Country| Latitude|  Longitude|    new_column|
+-------------+-------------+---------+-----------+--------------+
|    Vancouver|       Canada| 49.24966|-123.119339|this is sample|
|     Portland|United States|45.523449|-122.676208|this is sample|
|San Francisco|United States|37.774929|-122.419418|this is sample|
|      Seattle|United States|47.606209|-122.332069|this is sample|
|  Los Angeles|United States|34.052231|-118.243683|this is sample|
|    San Diego|United States|32.715328|-117.157257|this is sample|
|    Las Vegas|United States|36.174969|-115.137222|this is sample|
|      Phoenix|United States| 33.44838|-112.074043|this is sample|
|  Albuquerque|United States|35.084492|-106.651138|this is sample|
|       Denver|United States|39.739151|-104.984703|this is sample|
|  San Antonio|United States| 29.42412| -98.493629|this is sample|
|       Dallas|United States|32.783058| -96.806671|this is sample|
|      Houston|United States|29.763281| -95.363274|this is sample|
|  Kansas City|United States|39.099731| -94.578568|this is sample|
|  Minneapolis|United States|44.979969|  -93.26384|this is sample|
|  Saint Louis|United States| 38.62727| -90.197891|this is sample|
|      Chicago|United States|41.850029| -87.650047|this is sample|
|    Nashville|United States| 36.16589| -86.784439|this is sample|
| Indianapolis|United States|39.768379| -86.158043|this is sample|
|      Atlanta|United States|33.749001| -84.387978|this is sample|
+-------------+-------------+---------+-----------+--------------+
only showing top 20 rows

In [15]:
# drop column
df2.drop("Longitude").show()

+-------------+-------------+---------+--------------+
|         City|      Country| Latitude|    new_column|
+-------------+-------------+---------+--------------+
|    Vancouver|       Canada| 49.24966|this is sample|
|     Portland|United States|45.523449|this is sample|
|San Francisco|United States|37.774929|this is sample|
|      Seattle|United States|47.606209|this is sample|
|  Los Angeles|United States|34.052231|this is sample|
|    San Diego|United States|32.715328|this is sample|
|    Las Vegas|United States|36.174969|this is sample|
|      Phoenix|United States| 33.44838|this is sample|
|  Albuquerque|United States|35.084492|this is sample|
|       Denver|United States|39.739151|this is sample|
|  San Antonio|United States| 29.42412|this is sample|
|       Dallas|United States|32.783058|this is sample|
|      Houston|United States|29.763281|this is sample|
|  Kansas City|United States|39.099731|this is sample|
|  Minneapolis|United States|44.979969|this is sample|
|  Saint Louis|United States| 38.62727|this is sample|
|      Chicago|United States|41.850029|this is sample|
|    Nashville|United States| 36.16589|this is sample|
| Indianapolis|United States|39.768379|this is sample|
|      Atlanta|United States|33.749001|this is sample|
+-------------+-------------+---------+--------------+
only showing top 20 rows

In [11]:
## Selecting only required columns

df1.select("City","Country").show()

+-------------+-------------+
|         City|      Country|
+-------------+-------------+
|    Vancouver|       Canada|
|     Portland|United States|
|San Francisco|United States|
|      Seattle|United States|
|  Los Angeles|United States|
|    San Diego|United States|
|    Las Vegas|United States|
|      Phoenix|United States|
|  Albuquerque|United States|
|       Denver|United States|
|  San Antonio|United States|
|       Dallas|United States|
|      Houston|United States|
|  Kansas City|United States|
|  Minneapolis|United States|
|  Saint Louis|United States|
|      Chicago|United States|
|    Nashville|United States|
| Indianapolis|United States|
|      Atlanta|United States|
+-------------+-------------+
only showing top 20 rows

In [18]:
# renaming column
df1.withColumnRenamed("City","RenamedCity").show()

+-------------+-------------+---------+-----------+
|  RenamedCity|      Country| Latitude|  Longitude|
+-------------+-------------+---------+-----------+
|    Vancouver|       Canada| 49.24966|-123.119339|
|     Portland|United States|45.523449|-122.676208|
|San Francisco|United States|37.774929|-122.419418|
|      Seattle|United States|47.606209|-122.332069|
|  Los Angeles|United States|34.052231|-118.243683|
|    San Diego|United States|32.715328|-117.157257|
|    Las Vegas|United States|36.174969|-115.137222|
|      Phoenix|United States| 33.44838|-112.074043|
|  Albuquerque|United States|35.084492|-106.651138|
|       Denver|United States|39.739151|-104.984703|
|  San Antonio|United States| 29.42412| -98.493629|
|       Dallas|United States|32.783058| -96.806671|
|      Houston|United States|29.763281| -95.363274|
|  Kansas City|United States|39.099731| -94.578568|
|  Minneapolis|United States|44.979969|  -93.26384|
|  Saint Louis|United States| 38.62727| -90.197891|
|      Chicago|United States|41.850029| -87.650047|
|    Nashville|United States| 36.16589| -86.784439|
| Indianapolis|United States|39.768379| -86.158043|
|      Atlanta|United States|33.749001| -84.387978|
+-------------+-------------+---------+-----------+
only showing top 20 rows

### You can do joins, unions and many more with spark

#### to join, you need to two data frames. Here i am creating two data frames and joining them

In [3]:
dataframe1 = spark.read.option("header","true").csv("./spark-demo/imdb_data_sample.csv")

In [7]:
dataframe2 = spark.read.option("header","true").option("delimiter",";").csv("./spark-demo/AllMoviesDetailsCleaned.csv")

## You need to specify on which columns you want to join.
Similar to a SQL Query

**Example SQL Query:** We write SQL Query to join two tables like below. We will use same understanding with dataframes.

* Select * from table1 a JOIN table2 b ON a.some_column = b.some_column

In [5]:
dataframe1.printSchema()

root
 |-- imdb_title_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- year: string (nullable = true)
 |-- date_published: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- country: string (nullable = true)
 |-- language: string (nullable = true)
 |-- director: string (nullable = true)
 |-- writer: string (nullable = true)
 |-- production_company: string (nullable = true)
 |-- actors: string (nullable = true)
 |-- description: string (nullable = true)
 |-- avg_vote: string (nullable = true)
 |-- votes: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- usa_gross_income: string (nullable = true)
 |-- worlwide_gross_income: string (nullable = true)
 |-- metascore: string (nullable = true)
 |-- reviews_from_users: string (nullable = true)
 |-- reviews_from_critics: string (nullable = true)

In [8]:
dataframe2.printSchema()

root
 |-- id: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- vote_average: string (nullable = true)
 |-- vote_count: string (nullable = true)
 |-- production_companies_number: string (nullable = true)
 |-- production_countries_number: string (nullable = true)
 |-- spoken_languages_number: string (nullable = true)

In [16]:
from pyspark.sql.functions import col
dataframe2.join(dataframe1, col("imdb_id") == col("imdb_title_id")).show()

+---+--------+--------------------+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+------------+--------+-------+----------------+--------+--------------------+--------------------+------------+----------+---------------------------+---------------------------+-----------------------+-------------+--------------------+--------------------+----+--------------+--------------------+--------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+------+-----------+----------------+---------------------+---------+------------------+--------------------+
| id|  budget|              genres|  imdb_id|original_language|      original_title|            overview|popularity|production_companies|production_countries|release_date| revenue|runtime|spoken_languages|  status|             tagline|               title|vote_average|vote_count|production_companies_number|production_countries_number|spoken_languages_number|imdb_title_id|               title|      original_title|year|date_published|               genre|duration|     country|            language|            director|              writer|  production_company|              actors|         description|avg_vote| votes|     budget|usa_gross_income|worlwide_gross_income|metascore|reviews_from_users|reviews_from_critics|
+---+--------+--------------------+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+------------+--------+-------+----------------+--------+--------------------+--------------------+------------+----------+---------------------------+---------------------------+-----------------------+-------------+--------------------+--------------------+----+--------------+--------------------+--------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+------+-----------+----------------+---------------------+---------+------------------+--------------------+
| 19|92620000|Drama|Science Fic...|tt0017136|               de|          Metropolis|In a futuristic c...|  3.669986|  Paramount Pictures|             Germany|  10/01/1927|  650422|    153|     No Language|Released|There can be no u...|          Metropolis|         8.0|       614|                          2|                          1|                      1|    tt0017136|          Metropolis|          Metropolis|1927|    1928-10-01|       Drama, Sci-Fi|     153|     Germany|              German|          Fritz Lang|Thea von Harbou, ...|Universum Film (UFA)|Alfred Abel, Gust...|In a futuristic c...|     8.3|156076|DEM 6000000|       $ 1236166|            $ 1349711|     98.0|             495.0|               208.0|
|136|       0|        Drama|Horror|tt0022913|               en|              Freaks|A circus' beautif...|  1.125978|Metro-Goldwyn-May...|United States of ...|  20/02/1932|       0|     64|         English|Released|The love story of...|              Freaks|         7.7|       209|                          1|                          1|                      3|    tt0022913|              Freaks|              Freaks|1932|    1932-02-20|       Drama, Horror|      64|         USA|English, German, ...|        Tod Browning|Clarence Aaron 'T...|Metro-Goldwyn-May...|Wallace Ford, Lei...|A circus' beautif...|     7.9| 41173|   $ 310607|            null|               $ 4072|     80.0|             283.0|               158.0|
|138|  355000|              Horror|tt0021814|               en|             Dracula|The legend of vam...|  1.283226|  Universal Pictures|United States of ...|  12/02/1931| 1012189|     72|         Deutsch|Released|The story of the ...|             Dracula|         7.1|       233|                          1|                          1|                      3|    tt0021814|             Dracula|             Dracula|1931|    1931-02-14|Drama, Fantasy, H...|      75|         USA|English, Hungaria...|Tod Browning, Kar...|Bram Stoker, Hami...|  Universal Pictures|Bela Lugosi, Hele...|The ancient vampi...|     7.5| 45054|   $ 355000|            null|              $ 85204|     null|             556.0|               163.0|
|143| 1250000|           Drama|War|tt0020629|               en|All Quiet on the ...|A young soldier f...|  1.984822|  Universal Pictures|United States of ...|  21/04/1930|       0|    133|         English|Released|They left for war...|All Quiet on the ...|         7.5|       150|                          1|                          1|                      4|    tt0020629|All'ovest niente ...|All Quiet on the ...|1930|    1956-03-14|          Drama, War|     152|         USA|English, French, ...|     Lewis Milestone|Erich Maria Remar...|  Universal Pictures|Louis Wolheim, Le...|A German youth ea...|     8.0| 56356|  $ 1200000|            null|                 null|     91.0|             240.0|               102.0|
|228|       0|               Drama|tt0020697|               de|     Der blaue Engel|The Blue Angel fo...|  0.317506|Universum Film (UFA)|             Germany|  31/03/1930|       0|    108|         English|Released|                null|      The Blue Angel|         7.5|        49|                          1|                          1|                      3|    tt0020697|    L'angelo azzurro|     Der blaue Engel|1930|    1931-02-25|        Drama, Music|     104|     Germany|German, English, ...| Josef von Sternberg|Heinrich Mann, Ca...|Universum Film (UFA)|Emil Jannings, Ma...|An elderly profes...|     7.7| 13311|       null|            null|               $ 4410|     88.0|             104.0|               101.0|
|234|   18000|Drama|Horror|Thri...|tt0010323|               de|Das Cabinet des D...|The Cabinet of Dr...|  1.572642|Decla Film Gesell...|             Germany|  25/02/1920|       0|     78|     No Language|Released|You must become C...|The Cabinet of Dr...|         7.7|       247|                          1|                          1|                      1|    tt0010323|Il gabinetto del ...|Das Cabinet des D...|1920|    1920-02-27|Fantasy, Horror, ...|      76|     Germany|              German|        Robert Wiene|Carl Mayer, Hans ...|    Decla-Bioscop AG|Werner Krauss, Co...|Hypnotist Dr. Cal...|     8.1| 55601|    $ 18000|          $ 8811|               $ 8811|     null|             237.0|               160.0|
|347|       0|               Drama|tt0020163|               de| Menschen am Sonntag|A semi-documentar...|  2.417317|   Filmstudio Berlin|             Germany|  04/02/1930|       0|     74|     No Language|Released|                null|    People on Sunday|         7.0|        15|                          2|                          1|                      1|    tt0020163|  Uomini di domenica| Menschen am Sonntag|1930|    1930-02-04|Comedy, Drama, Ro...|      73|     Germany|                null|Robert Siodmak, E...|Curt Siodmak, Bil...|    Film Studio 1929|Erwin Splettstöße...|Two men and two w...|     7.4|  2649|       null|            null|                 null|     null|              19.0|                46.0|
|543|       0|Drama|Thriller|Crime|tt0019702|               en|           Blackmail|Alice's boyfriend...|  0.188931|British Internati...|      United Kingdom|  30/06/1929|       0|     84|         English|Released|See and Hear It -...|           Blackmail|         6.7|        40|                          1|                          1|                      1|    tt0019702|             Ricatto|           Blackmail|1929|    1929-10-06|     Crime, Thriller|      85|          UK|             English|    Alfred Hitchcock|Charles Bennett, ...|British Internati...|Anny Ondra, Sara ...|After killing a m...|     7.0|  9412|       null|            null|                 null|     null|              98.0|                65.0|
|618|  110000|Drama|History|Rom...|tt0004972|               en|The Birth of a Na...|The Birth of A Na...|  0.360068|      Epoch Film Co.|United States of ...|  08/02/1915|11000000|    190|     No Language|Released|The fiery cross o...|The Birth of a Na...|         6.3|        91|                          1|                          1|                      1|    tt0004972|Nascita di una na...|The Birth of a Na...|1915|    1915-03-21| Drama, History, War|     195|         USA|                None|       D.W. Griffith|Thomas Dixon Jr.,...|David W. Griffith...|Henry B. Walthall...|The Stoneman fami...|     6.3| 22213|   $ 100000|            null|                 null|     null|             368.0|                97.0|
|631|       0|       Drama|Romance|tt0018455|               en|Sunrise: A Song o...|A married farmer ...|  1.540355|Fox Film Corporation|United States of ...|  23/09/1927|       0|     94|            none|Released|An Artistic Maste...|Sunrise: A Song o...|         7.8|       137|                          1|                          1|                      0|    tt0018455|              Aurora|Sunrise: A Song o...|1927|    1928-03-31|      Drama, Romance|      94|         USA|             English|         F.W. Murnau|Carl Mayer, Herma...|Fox Film Corporation|George O'Brien, J...|An allegorical ta...|     8.1| 46069|   $ 200000|            null|             $ 121107|     null|             250.0|               186.0|
|643|       0|       Drama|History|tt0015648|               ru|Броненосец «Потём...|A dramatized acco...|  1.122584| Goskino Productions|              Russia|  24/12/1925|   45100|     75|         Pусский|Released|Revolution is the...| Battleship Potemkin|         7.5|       181|                          2|                          1|                      1|    tt0015648|La corazzata Pote...|Bronenosets Potemkin|1925|    1960-04-07|Drama, History, T...|      75|Soviet Union|             Russian|Sergei M. Eisenstein|    Nina Agadzhanova|             Goskino|Aleksandr Antonov...|In the midst of t...|     8.0| 51775|       null|         $ 51198|              $ 61389|     null|             210.0|                85.0|
|653|       0|Drama|Fantasy|Horror|tt0013442|               de|Nosferatu, eine S...|"Vampire Count Or...|  1.315536|        Jofa Atelier|             Germany|  06/03/1922|       0|     94|         Deutsch|Released|A symphony of horror|           Nosferatu|         7.7|       338|                          2|                          1|                      1|    tt0013442|Nosferatu - Il va...|Nosferatu, eine S...|1922|    1922-03-04|     Fantasy, Horror|      94|     Germany|              German|         F.W. Murnau|Henrik Galeen, Br...|Jofa-Atelier Berl...|Max Schreck, Gust...|Vampire Count Orl...|     7.9| 86620|       null|            null|              $ 19054|     null|             419.0|               202.0|
|697|       0|   Documentary|Drama|tt0018217|               ru|             Oktyabr|October is Sergei...|  0.150224|             Sovkino|              Russia|  14/03/1928|       0|     94|         Pусский|Released|                null|October (Ten Days...|         6.5|        23|                          1|                          1|                      1|    tt0018217|            Ottobre!|             Oktyabr|1927|    1928-09-24|      Drama, History|     142|Soviet Union|                null|Grigoriy Aleksand...|Sergei M. Eisenst...|             Sovkino|Nikolay Popov, Va...|A large-scale vie...|     7.5|  6877|       null|            null|                 null|     null|              50.0|                23.0|
|701|       0| Comedy|Drama|Family|tt0014341|               en|     Our Hospitality|A man returns to ...|  0.218139|Joseph M. Schenck...|United States of ...|  19/11/1923|       0|     73|         English|Released|A Comedy with a H...|     Our Hospitality|         7.7|        43|                          1|                          1|                      1|    tt0014341|Accidenti che osp...|     Our Hospitality|1923|    1925-11-27|Comedy, Romance, ...|      65|         USA|             English|John G. Blystone,...|Jean C. Havez, Cl...|Joseph M. Schenck...|Buster Keaton, Na...|A man returns to ...|     7.8|  9902|       null|            null|                 null|     null|              54.0|                47.0|
|780|       0|       Drama|History|tt0019254|               fr|La passion de Jea...|A classic of the ...|   1.27167|Société générale ...|              France|  21/04/1928|       0|     82|        Français|Released|An Immortal Scree...|The Passion of Jo...|         8.1|       143|                          1|                          1|                      1|    tt0019254|La passione di Gi...|La passion de Jea...|1928|    1929-01-18|Biography, Drama,...|     110|      France|              French| Carl Theodor Dreyer|Joseph Delteil, C...|Société générale ...|Maria Falconetti,...|In 1431, Jeanne d...|     8.1| 45823|       null|         $ 21877|              $ 21877|     null|             195.0|               137.0|
|785|       0|               Drama|tt0023104|               de|Kuhle Wampe oder:...|Kuhle Wampe is a ...|  0.000164|          Prometheus|             Germany|  14/05/1932|       0|     74|         Deutsch|Released|                null|To Whom Does the ...|         6.6|         5|                          2|                          1|                      1|    tt0023104|Kuhle Wampe oder:...|Kuhle Wampe oder:...|1932|    1932-05-30|               Drama|      71|     Germany|              German|        Slatan Dudow|Bertolt Brecht, E...|Prometheus-Film-V...|Hertha Thiele, Er...|During Great Depr...|     6.6|   614|       null|            null|                 null|     null|               7.0|                 6.0|
|832|       0|Drama|Action|Thri...|tt0022100|               de|                   M|In this classic G...|  2.962145|        Nero-Film AG|             Germany|  11/05/1931|       0|    117|         Deutsch|Released|                null|                   M|         8.0|       419|                          1|                          1|                      1|    tt0022100|M - Il mostro di ...|M - Eine Stadt su...|1931|    1960-08-26|Crime, Mystery, T...|     117|     Germany|              German|          Fritz Lang|Thea von Harbou, ...|        Nero-Film AG|Peter Lorre, Elle...|When the police i...|     8.3|139271|       null|         $ 35566|              $ 35566|     null|             359.0|               155.0|
|835|       0|     Science Fiction|tt0022869|               de|F.P.1 antwortet n...|F.P.1 is a huge a...|  0.002649|                none|             Germany|  22/12/1932|       0|    114|         Deutsch|Released|                null|F.P.1 Doesn't Answer|         0.0|         0|                          0|                          1|                      1|    tt0022869|   FP 1 non risponde|F.P.1 antwortet n...|1932|    1932-12-22|              Sci-Fi|     114|     Germany|              German|          Karl Hartl|Walter Reisch, Cu...|Universum Film (UFA)|Hans Albers, Sybi...|Urged by famous a...|     6.3|   201|       null|            null|                 null|     null|               6.0|                 4.0|
|885|       0|       Drama|Romance|tt0018839|               en|The Docks of New ...|A blue-collar wor...|  0.081869|  Paramount Pictures|United States of ...|  16/09/1928|       0|     76|     No Language|Released|                null|The Docks of New ...|         6.8|        12|                          1|                          1|                      1|    tt0018839|I dannati dell'oc...|The Docks of New ...|1928|    1928-09-29|Crime, Drama, Fil...|      76|         USA|             English| Josef von Sternberg|Jules Furthman, J...|  Paramount Pictures|George Bancroft, ...|A blue-collar wor...|     7.5|  3860|       null|            null|                 null|     null|              34.0|                51.0|
|899|       0|       Drama|Romance|tt0009968|               en|     Broken Blossoms|Broken Blossoms i...|  0.256136|      United Artists|United States of ...|  13/05/1919|       0|     90|     No Language|Released|                null|     Broken Blossoms|         6.9|        35|                          2|                          1|                      1|    tt0009968|     Giglio infranto|Broken Blossoms o...|1919|    1923-02-23|      Drama, Romance|      90|         USA|                null|       D.W. Griffith|Thomas Burke, D.W...|D.W. Griffith Pro...|Lillian Gish, Ric...|A frail waif, abu...|     7.3|  9241|    $ 88000|            null|                 null|     null|              89.0|                78.0|
+---+--------+--------------------+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+------------+--------+-------+----------------+--------+--------------------+--------------------+------------+----------+---------------------------+---------------------------+-----------------------+-------------+--------------------+--------------------+----+--------------+--------------------+--------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+------+-----------+----------------+---------------------+---------+------------------+--------------------+
only showing top 20 rows

In [17]:
one_data_for_union = dataframe1.select("budget")
second_data_for_union = dataframe2.select("budget")

result = one_data_for_union.union(second_data_for_union)
result.show()

+----------+
|    budget|
+----------+
|      null|
|    $ 2250|
|      null|
|   $ 45000|
|      null|
|      null|
|      null|
| ITL 45000|
|ROL 400000|
|   $ 30000|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|      null|
|    $ 5700|
+----------+
only showing top 20 rows